In [2]:
print(" PIAIC")
def greet_user():
    print(" apna time ayga")
    
print(" hello ")

 PIAIC
 hello

In [3]:
greet_user()

 apna time ayga

In [4]:
greet_user()

 apna time ayga

In [5]:
def mult(a,b):
    c = a *b
    print(c)

In [6]:
mult(2,4)

8

In [10]:
mult(5,3,)

15

In [11]:
mult(5,5)

25

In [13]:
def add(a,b):
    c= a+b
    print(c)
add(4,5)

9

In [18]:
def full_name(first_name , Middle_name , Last_name):
    name = first_name +' '+ Middle_name+' '+ Last_name
    print(name)
full_name("Muhammad","Dilawar","Khan")

Muhammad Dilawar Khan

In [21]:
first_name = input("Enter you first name:")
middle_name= input("Enter your middle name:")
last_name = input("Enter your last name:")

def my_name(first_name, middle_name,last_name):
    my_full_name =first_name+" "+middle_name +" "+last_name
    print(my_full_name)
my_name(first_name,middle_name,last_name)

Enter you first name:Muhammad
Enter your middle name:Taimur
Enter your last name:Niaz
Muhammad Taimur  Niaz

In [3]:
def my_name():

    first_name = input("Enter you first name:")
    middle_name= input("Enter your middle name:")
    
    last_name = input("Enter your last name:")
    my_full_name =first_name+" "+middle_name +" "+last_name
    print("My name is "+my_full_name.title())
my_name()

Enter you first name:Muhammad
Enter your middle name:Taimur
Enter your last name:Niaz
My name is Muhammad Taimur  Niaz

In [4]:
"dilawar".upper()

'DILAWAR'

In [6]:
"DILAWAR".lower()

'dilawar'

In [16]:
def cal(a,b,operator):
    if operator == '+':
        c= a+b
        print(c)
    elif operator =='-':
        c= a-b
        print(c)
    elif operator =='*':
        c= a*b
        print(c)
    elif operator =='/':
        c= a/b
        print(c)
    else:
        print("Operator Not Define")
cal(5,6,"*")
cal(5,6,"+")
cal(5,6,"-")

30
11
-1

# KEYWORD ARGUMENT

In [17]:
cal(2,"+",3)

Operator Not Define

In [18]:
cal(a=4,operator="+",b=5)

9

In [20]:
cal(operator="/",a=4,b=5)

0.8

# DEFUALT PARAMETER

In [22]:
def my_info(name , age=20 , gender='male'):
    print(f"My name is {name}.")
    print(f"My age is {age}.")
    print(f"My gender is {gender}.")
my_info('Dilawar')

My name is Dilawar.
My age is 20.
My gender is male.

In [23]:
def my_name_is(f_name , l_name ,m_name = ''):
    if m_name:
        full_name= f_name + " " + m_name +" "+l_name
    else:
        full_name = f_name + ' ' +l_name  
    return full_name

a= my_name_is('Muhammad', 'Dilawar', 'Khan')
print(a)

Muhammad Khan Dilawar

In [28]:
b = my_name_is('Muhammad' , 'Dialwar')
print(b)

Muhammad Dialwar

In [33]:
def my_friends(names):
    for name in names:
        greet = "hello ," + name
        print(greet)
        
user = ['Ali','Ahmed','Ahsan','Hamza']
my_friends(user)

hello ,Ali
hello ,Ahmed
hello ,Ahsan
hello ,Hamza

In [36]:
def human(f_name , l_name ,age):
    build_human = {'first' : f_name ,'last_name' : l_name , 'age':age }
    for key , value in build_human.items():
        print(key , value)
human('Muhammad' , 'Dilawar' , 21)

first Muhammad
last_name Dilawar
age 21

In [38]:
def human(f_name , l_name ,age,*others):
    build_human = {'first' : f_name ,'last_name' : l_name , 'age':age ,  }
    for key , value in build_human.items():
        print(key , value)
        print(others)
human('Muhammad' , 'Dilawar' , 21 ,'cef', 'aaa', 'ccc' ,'vvv')

first Muhammad
('cef', 'aaa', 'ccc', 'vvv')
last_name Dilawar
('cef', 'aaa', 'ccc', 'vvv')
age 21
('cef', 'aaa', 'ccc', 'vvv')

In [43]:
def human(f_name , l_name ,age,**toopings):
    build_human = {'first' : f_name ,'last_name' : l_name , 'age':age ,  }
    for key , value in build_human.items():
        print(key , value)
        print(toopings)
human('Muhammad' , 'Dilawar' , 21 ,cef = 'aaa', ccc ='vvv')

first Muhammad
{'cef': 'aaa', 'ccc': 'vvv'}
last_name Dilawar
{'cef': 'aaa', 'ccc': 'vvv'}
age 21
{'cef': 'aaa', 'ccc': 'vvv'}