# LIST

In [1]:
x = 3

In [2]:
y = (4,7,55,89) #list
y

(4, 7, 55, 89)

In [6]:
name = ('shazad, hamza')
name

'shazad, hamza'

In [8]:
z =('karachi',1,2,3 )
z

('karachi', 1, 2, 3)

In [13]:
a=[2, 5, 65, 89]
a.sort(reverse=True)
a

[89, 65, 5, 2]

In [14]:
random = [27, 3, 55, 88]
random.reverse() # reverse list without sorting
random

[88, 55, 3, 27]

In [16]:
b = random # pass by refrence
b

[88, 55, 3, 27]

random.append(120)

In [17]:
random.append(120)

In [18]:
b

[88, 55, 3, 27, 120]

In [19]:
b.append('new')
random

[88, 55, 3, 27, 120, 'new']

In [20]:
c = random.copy()

In [21]:
c

[88, 55, 3, 27, 120, 'new']

In [22]:
c.append(11300)

In [23]:
c

[88, 55, 3, 27, 120, 'new', 11300]

In [34]:
random

[88, 55, 3, 27]

In [26]:
# pop

In [31]:
poppedElement = random.pop()

In [32]:
random

[88, 55, 3, 27]

poppedElemet

In [33]:
poppedElement

120

In [35]:
random

[88, 55, 3, 27]

In [62]:
newList =[]
random = [27, 3, 55, 88]
newList.append(random.pop())

# newList.append(random.pop())

In [39]:
random

[88, 55]

In [63]:
newList.append(random.pop())

In [65]:
newList=[1,22,3,4,56,]

# Slicing

In [51]:
alist = [10,9,8,7,6,5,4,3,2,1]
#index[0,1,2,3,4,5,6,7,8,9]

In [52]:
alist

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
alist[2:5]

[8, 7, 6]

In [54]:
alist[2:]

[8, 7, 6, 5, 4, 3, 2, 1]

In [55]:
alist[:7]

[10, 9, 8, 7, 6, 5, 4]

In [56]:
students=['asad', 'fahad', 'hassan','kami','ghazi']
#index [ -5,-4,-3,-2,-1]

In [57]:
students[-5:-2]

['asad', 'fahad', 'hassan']

In [58]:
students[-3:-1]

['hassan', 'kami']

In [59]:
students

['asad', 'fahad', 'hassan', 'kami', 'ghazi']

In [60]:
students[-5:4]

['asad', 'fahad', 'hassan', 'kami']

# TUPLES

In [66]:
a = (1,2,3,4,5,6)

In [67]:
a

(1, 2, 3, 4, 5, 6)

In [68]:
a[3]

4

In [69]:
a=[3]=234

SyntaxError: can't assign to literal (<ipython-input-69-1c865aea67d1>, line 1)

In [70]:
a = 2,3,4 # packing

In [71]:
a

(2, 3, 4)

In [72]:
x,y,z =a #unpacking

In [73]:
x

2

# List in list tuple in list etcetc

In [75]:
ListInList =[1,2,3, ['apple','orange','banana']]

In [76]:
ListInList

[1, 2, 3, ['apple', 'orange', 'banana']]

In [77]:
ListInList[3]

['apple', 'orange', 'banana']

In [84]:
ListInList[3]= 'eggs'

In [82]:
ListInList

[1, 2, 3, 'eggs']

In [85]:
ListInList.insert(0,'apple')

In [86]:
ListInList

['apple', 1, 2, 3, 'eggs']

In [94]:
alist = [1,2,3,4,['a','b','c']]

alist[4].insert(0,'d')

In [95]:
alist

[1, 2, 3, 4, ['d', 'a', 'b', 'c']]

In [100]:
age = 20
name = "asad"
print(f"my name is  {name} ,my age is {age}")

my name is  asad ,my age is 20