# for loop

In [9]:
students = ['hamza','shehzad','saqib','asif']

In [10]:
for student in students:
    if students == 'saqib':
        print(f'{student} bahar jao')
else:
    print(f'{student}ander jao')

asifander jao

In [6]:
for num in range(10):
    print(num , end = ' ')

0 1 2 3 4 5 6 7 8 9

In [11]:
for a in 'pakistan':
    print(a , end = ' ')

p a k i s t a n

In [21]:
for num in range(0,25,2):
    print(num, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24

In [25]:
for num in range(0,25,1):
    print(num, end = ' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [7]:
table =int(input('Please input table number: '))
for num in range (1, 11):
    print(f'{table} * {num} = {table * num}')

Please input table number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
name = []
for a in range(5):
    a = input()
    if a . startswith('a'):
        continue
print(name)

haris
Dilawar
Anus
NAsir
Asif
[]

# Best_friend = []

for num in range(10):
    name = input("Enter your friend name: ")
    if name.startswith('a'):
        Best_friend.append(name)
Best_friend

# Nested for loop

In [46]:
for a in [1,2,3,4,5]:
    for b in 'nasir':
        print(a,b)

1 n
1 a
1 s
1 i
1 r
2 n
2 a
2 s
2 i
2 r
3 n
3 a
3 s
3 i
3 r
4 n
4 a
4 s
4 i
4 r
5 n
5 a
5 s
5 i
5 r

In [6]:
for a in range(1,10):
#     c = int(input())
    for b in range(1,10):
        print(f'{a} * {b} = {a * b}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# list comprehension

In [12]:
a=[1,2,3,4,5,6,7,8,9]
squares=[]
for num in range:

IndentationError: expected an indented block (<ipython-input-12-746bcb7c26ff>, line 4)

In [13]:
[ num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
[ num**2 for num in range(1,10) if num>4]

[25, 36, 49, 64, 81]